@media (max-width: 480px) {
  .artists-row {
    max-width: 100vw;
    margin-top: 20px;
  }
}

.artist-name {
  z-index: -1;
  background-color: white;
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  max-height: 0px;
  overflow: hidden;
  text-align: center;

  -webkit-transform: scaleY(0);
	transform: scaleY(0);

	-webkit-transform-origin: bottom;
	transform-origin: bottom;

	-webkit-transition: -webkit-transform 0.26s ease-in-out;
	-webkit-transition: -webkit-transform 0.26s ease-in-out;
	transition: -webkit-transform 0.26s ease-in-out;
	transition: transform 0.26s ease-in-out;
	transition: transform 0.26s ease-in-out, -webkit-transform 0.26s ease-in-out;
}

.artist {
  cursor: pointer;
  &:hover{

   // max-height technique
   .artist-name {
     // If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and we can use "max-height" with a great value for emulate this effect.
     max-height: 300px;
     z-index: 1;
     -webkit-transform: scaleY(1);
 	   transform: scaleY(1);
   }

 }
}
