// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

html,
body {
  font-family: "Helvetica", sans-serif;
  font-display: swap;
  font-weight: bold;
  width: 100%;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bubbles {
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
  z-index: -1;
  overflow: hidden;
  height: auto;
  max-width: 100%;
  position: absolute;
}

.floating-wrapper {
  margin-top: -60px;
}

.head {
  height: auto;
  max-width: 100%;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.wsf-red {
  color: rgb(210, 131, 124);
}

.wsf-grey {
  color: #595959 !important;
}

.wsf-nav {
  z-index: 100;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #595959;
}

.nav-link:hover,
.social:hover {
  color: rgb(210, 131, 124) !important;
}

.contacts li a:hover {
  text-decoration: none;
  color: rgb(210, 131, 124) !important;
}

.nav-link {
  font-size: large !important;
  letter-spacing: 0.1em;
}

.festival-img {
  height: auto;
  max-width: 100%;
}

.bg-contacts {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wood-sound-festival/contatti.jpg");
  background-position: center center;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-bg {
  max-width: 800px;
}

@media screen and (max-width: 480px) {
  .floating-wrapper {
    margin-top: 0px;
  }
}
